body {
    background-color: goldenrod;
    text-align: center;
}

h1{
    font-size: 150px;
}

h4, p {
    font-family: fantasy;
    
}

.secret{
    opacity: 0.5;
    text-align: center;
    
}

ul{
    list-style-type: none;
    margin: auto;
    
}

table,th,td{
    border: 1px solid blue;
    text-align: center;
    margin: auto;
    background-color: cadetblue;
    
}

.cabbage{
    color: chartreuse;
}

h5{
    font-size: 60px;
}